{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Page Not Found
{% endblock %}


{% block content %}
    <h2>Sorry, We Can't Seem to Find That!</h2>

    <p>
        <a href="/" role="button">Go to the Home Page</a>
    </p>

{% endblock %}