{% extends 'pages/base.jinja' %}

{% block title %}
    Flask Demo - Here is Your Number
{% endblock %}


{% block content %}

    <h2>Here is Your Number...</h2>

    <article id="random">
        {{ number }}
    </article>

{% endblock %}